# Compiled Source #
###################
*.pyc
build/*
*.so
*pyd

# C/Cython files  #
###################
*.c

# Data            #
###################
*.h5
*.p
*.jpg
*.png
*.json
*.txt
*.npz

# Calibration Data#
###################
calibration_data/*
experiment_data/*
